main #Garu {
  opacity: 100%;
}

/* box */
#Garu .garu-ini {
  background-color: black;
  width: 600px;
  margin: 25px auto;
  border-radius: 30px;
  box-shadow: 3px -3px 3px white;
  transition: ease-in-out 2s 0s;
}
/* faixas */
#Garu .garu-ini img {
  height: 300px;
  width: 432px;
  margin-left: 28%;
  margin-top: -1px;
  z-index: 2;
  position: relative;
}
/* linha branca */
#Garu .garu-title {
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 500px;
  margin: auto 0 0 100px;
  margin-top: -190px;
  position: relative;
  z-index: 2;
  box-shadow: -2px 2px 20px rgb(0, 0, 0);
  transition: ease-in-out 2s 0s;
}

#Garu .garu-title2 {
  color: rgb(0, 0, 0);
  margin: auto;
  text-align: right;
  font-size: 30px;
  padding: 5px;
  font-family: "Girassol", serif;
  letter-spacing: 4px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(255, 255, 255),
    0 0 0.2em rgb(0, 0, 0);
  transition: ease-in-out 2s 0s;
}
/* jashin */
#Garu .garu-img img {
  width: 250px;
  height: 250px;
  background-color: #0c0c0d;
  margin: -115px auto auto 30px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 2px -2px 240px rgb(0, 0, 0);
  transition: ease-in-out 2s 0s;
}

#Garu .garu-img img:hover {
  transition: 5s ease-in-out;
  box-shadow: -20px -20px 200em rgb(255, 0, 0);
  background-color: #d01418;
  transform: rotate(1turn);
}

/* lateral */
#Garu .garu-lateral {
  position: relative;
  align-items: center;
  margin: -150px auto auto 20px;
  width: 120px;
  height: 430px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 3px 3px 3px rgb(255, 255, 255);
  display: inline-block;
  transition: ease-in-out 2s 0s;
}

#Garu .garu-tlateral {
  color: #fff;
  padding-top: 150px;
  text-align: justify;
  font-size: 14px;
  margin: auto auto auto 10px;
}

.status-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4px 10px;
  font-family: "Courier Prime", monospace;
  color: white;
  padding: 15px;
  width: fit-content;
  margin: auto -7px;
  transition: ease-in-out 2s 0s;
}

/* parte textual */
#Garu .garu-corpo {
  background-color: #0a0a0c36;
  width: 380px;
  margin: -310px auto 20px 170px;
  padding: 20px;
  border-radius: 0 0 2% 20px;
  display: inline-block;
  position: relative;
  z-index: auto;
  box-shadow: -3px 3px 3px rgb(255, 255, 255);

  transition: ease-in-out 2s 0s;
}

/* formatação das letras */
#Garu .garu-texto {
  color: rgb(230, 230, 230);
  font-size: 14px;
  font-family: "Spectral";
  font-weight: 200;
  font-style: normal;
  text-align: justify;
  line-height: 1.45;
  margin: auto;
  padding: 20px 0 20px 0;
  transition: ease-in-out 2s 0s;
}

cor {
  font-family: "Spectral";
  font-weight: 700;
  font-style: italic;
}

/* transições */
body:has(#Garu .garu-img img:hover) #Garu .garu-texto {
  text-shadow: 2px 2px 5px rgb(229, 50, 14);
  color: rgb(200, 122, 122);
  transition: ease-in-out 2s 5s;
}

body:has(#Garu .garu-img img:hover) #Garu .garu-title2 {
  color: rgb(190, 50, 25);
  transition: ease-in-out 2s 5s;
}

body:has(#Garu .garu-img img:hover) #Garu .garu-ini {
  box-shadow: -2px 2px 5px rgb(255, 53, 53);
  transition: ease-in-out 2s 5s;
}

body:has(#Garu .garu-img img:hover) .status-container {
  text-shadow: 2px 2px 5px rgb(229, 50, 14);
  color: rgb(200, 122, 122);
  transition: ease-in-out 2s 5s;
}

body:has(#Garu .garu-img img:hover) #Garu .garu-lateral {
  box-shadow: -3px 3px 3px rgb(255, 53, 53);
  transition: ease-in-out 2s 5s;
}

body:has(#Garu .garu-img img:hover) #Garu .garu-corpo {
  box-shadow: 3px -3px 3px rgb(255, 53, 53);
  transition: ease-in-out 2s 5s;
}

body:has(#Garu .garu-img img:hover) #Garu .garu-extra {
  background-position: 0px -600px;
  box-shadow: 0px 40px 70px rgb(130, 25, 25);
  filter: drop-shadow(0px 40px 70px rgb(130, 25, 25));
  height: 450px;
}

body:has(#Garu .garu-img img:hover) #Garu .garu-extra::before {
  background-color: rgba(216, 16, 16, 0.3);
}

body:has(#Garu .garu-img img:hover) a {
  color: #ff0000;
  transition: 5s ease-in-out;
}

body:has(#Garu .garu-img img:hover) #cred {
  color: #ff0000;
  margin: -15px 65%;
}

body:has(#Garu .garu-img img:hover) #wrap {
  background-color: #fa0a0c70;
  transition: 5s 5s ease-in-out;
}

body:has(#Garu .garu-img img:hover) #parte-p3 {
  background-color: #fa0a0c70;
  transition: 5s 5s ease-in-out;
}

body:has(#Garu .garu-img img:hover) #parte-p2 {
  background-color: #fa0a0c70;
  transition: 5s 5s ease-in-out;
}

body:has(#Garu .garu-img img:hover) #parte-p1 {
  background-color: #fa0a0c70;
  transition: 5s 5s ease-in-out;
}

body:has(#Garu .garu-img img:hover) #titulo-ltopico {
  background-color: #000000;
  transition: 5s 5s ease-in-out;
}

/* parte extra imagem inferior */
#Garu .garu-extra {
  width: auto;
  height: 160px;
  border-radius: 20px;
  margin: auto;
  box-shadow: 3px -3px 3px rgb(255, 255, 255);
  background-image: url("https://i.imgur.com/FC0tVF0.png");
  background-position: 0px -100px;
  background-size: 570px auto;
  position: relative;
  align-items: center;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: 5s ease-in-out;
  transition-timing-function: cubic-bezier(0.5, 0.1, 0.2, 1);
  color: black;
  font-family: "Girassol";
  font-size: 50px;
  text-shadow: 2px 2px 3px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255),
    3px 3px 0.2em rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
}

#Garu .garu-extra::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: 5s ease-in-out;
}

#Garu .extra-text {
  display: inline-block;
  padding: 10px;
  font-family: "Spectral";
  font-size: 14px;
}

#Garu .cred {
  width: 100px;
  margin: -40px auto 20px 90%;
  text-align: center;
  transition: 5s ease-in-out;
}

#Garu .cred > a {
  text-decoration: none;
  color: azure;
  font-family: "Girassol";
  transition: 5s ease-in-out;
}

#Garu summary {
  color: white;
  list-style-type: none;
}

#Garu details {
  color: white;
}
